<div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" id="banner" src="../../../../assets/ban.jpg" alt="First slide">
          </div>
        
        </div>
       
      </div>
    </div><hr style="border-bottom: 1px solid gray;">
    

  <section class="about_area p_120">
    <div class="container">
        <div class="row about_inner">
            <div class="col-lg-6">
                <div class="ab_left_text">
                    <h4><u><b>Who We Are</b></u> </h4>
                    <p>Founded in 2015, We are headquartered in Islamabad with an active presence in Lahore and Karachi. Fixie provides high skilled Technical staff and high value-added services including Software Solutions, Hardware Solutions, Broken Parts, Repairs and Services Contracts with focus on understanding the unique needs of each customer and creating solutions to match their requirment in a professional and efficient manner with in the customer’s budget and a determind time frame. Fixie has now decided to go Online with Doorstep Repair Facility. We tend to use our experience to provide better services to our customers with professionalism.  </p>
                    <a class="ab_btn" routerLink="/dashboard/contact" href="#">Contact Us</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ab_img">
                <br><br><br>    <img class="img-fluid" src="../../../../assets/img/team/graph.jpg" style="height: 300px; width: 700px;">
                </div>
            </div>
        </div>
    </div>
</section>
    
    
    
    <section class="team_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>Our Qualities and Reputation</h2>
                <p>Who are in extremely love with our friendly system.</p>
            </div>
    
            <div class="box">
                <div class="card">
                  <div class="imgBx">
                      <img src="../../../../assets/img/team/card1.jpg" alt="images" style="height: 400px; " >
                  </div>
                  <div class="details">
                      <h2>Abdullah<br><span>Developer</span></h2>
                  </div>
                </div>
              
                 <div class="card">
                   <div class="imgBx">
                      <img src="../../../../assets/img/team/card2.jpg" alt="images" style="height: 400px;">
                   </div>
                   <div class="details">
                    <h2>Abdullah<br><span>Manager</span></h2>
                    </div>
                 </div>
          
                 <div class="card">
                   <div class="imgBx">
                      <img src="../../../../assets/img/team/card3.jpg" alt="images" style="height: 400px;">
                   </div>
                   <div class="details">
                    <h2>Abdullah<br><span>Developer</span></h2>
                    </div>
                 </div>
            </div>
<br>
    
        </div>
    </section><hr>
     <!-- Site footer -->
     <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-9">
              <h6>About</h6>
              <p class="text-justify">this Site <i>is About TO Repair things </i> its best platform for Customers who want good Repairer and for Repairer who need coprative customer, Now everything become easy. If you need any help Just contact with Us Thank you</p>
            </div>
    
            
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a routerLink="/drivers/home">Home</a></li>
                <li><a routerLink="/drivers/driverdash">Dashboard</a></li>
                <li><a routerLink="/drivers/payment">Payments</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        
    </footer>