<div class="container" >
    <div class="row" *ngIf="successmsg; else nojobsmessage">
        <table class="table">
            <thead class="bg-info">
                <tr>
                   
                    <th *ngFor="let key of headers">{{key}}</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of alljobs" >
                    
                    <td>{{job.companyName}}</td>
                    <td>{{job.companyMail}}</td>
                    <td>{{job.industryType}}</td>
                    <td>{{job.yearsofExp}}</td>
                    <td>{{job.About}}</td>
                    
                    <td><button  class="btn btn-danger" (click)="deletecustomer(job)">Delete</button>
                        
                    </td>
                    
                    
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #nojobsmessage>
        <div >
            
            <!-- <a routerLink="/postjob">Post A Job Now</a> -->
        </div>

    </ng-template>
    <!-- <router-outlet></router-outlet> -->
</div>